<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.to_s(:nice_date) %>
<% end %>

<div class="columns mt-6 is-centered">
  <% @categories.each do |category| %>
    <div class="column is-one-quarter">
      <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Category
        </p>
      </header>
        <div class="card-content">
          <div class="content">
            <p><span class="has-text-weight-bold"><%= category.title %>
            <p class="italic">Logged <%= time_ago_in_words(category.created_at) %> ago</p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', category, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_category_path(category), class: "card-footer-item" %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
